In [2]:
import sqlalchemy
import pandas as pd


class DB:
    def __init__(self, db_info):
        self.engine = sqlalchemy.create_engine(db_info)
        self.connection = self.engine.connect()

    def __enter__(self):
        return self

    def __exit__(self, exc_type, exc_val, exc_tb):
        self.engine.dispose()

In [3]:
class lowtonDB(DB):
    def __init__(self):
        super().__init__("postgresql://idnstory:idnstory132@192.168.0.201/pv_power_copy")
    
    def get_plant_info(self, name):
        query = """
        SELECT mi.device, mi.mnt_id, i.ivt_id, i.name, p.plant_id, i.capacity,
            geom, ST_X(geom) as lon, ST_Y(geom) as lat, p.planttype,
            0 as mapped
        FROM hz_monitor_ivt mi
            left join hz_inverter i on mi.ivt_id = i.ivt_id
            left join hz_plant p on i.plant_id = p.plant_id
        WHERE p.name='{}' order by ivt_id
        """
        print(query.format(name))
        return pd.read_sql_query(query.format(name), self.connection)
    
    def get_moniter_infos(self, mnt_id):
        query = """
        SELECT *
        FROM hourly_yield hy
        WHERE mnt_id = {}
        """
        print(query.format(mnt_id))
        return pd.read_sql_query(query.format(mnt_id), self.connection)

In [4]:
ltdb = lowtonDB()

In [6]:
ltdb.get_plant_info('피브이')

        SELECT mi.device, mi.mnt_id, i.ivt_id, i.name, p.plant_id, i.capacity,
            geom, ST_X(geom) as lon, ST_Y(geom) as lat, p.planttype,
            0 as mapped
        FROM hz_monitor_ivt mi
            left join hz_inverter i on mi.ivt_id = i.ivt_id
            left join hz_plant p on i.plant_id = p.plant_id
        WHERE p.name='피브이' order by ivt_id

Empty DataFrame
Columns: [device, mnt_id, ivt_id, name, plant_id, capacity, geom, lon, lat, planttype, mapped]
Index: []

In [24]:
ltdb.get_moniter_infos(75)

        SELECT *
        FROM hourly_yield hy
        WHERE mnt_id = 75

,datetime,hyield,hpred,hlower,hupper,score,program_name,update_datetime,mnt_id
0,2020-02-13 20:00:00,0.000,None,None,None,None,None,None,75
1,2020-01-01 00:00:00,0.000,None,None,None,None,None,None,75
2,2021-01-01 01:00:00,0.000,None,None,None,None,None,None,75
3,2021-01-01 02:00:00,0.000,None,None,None,None,None,None,75
4,2021-01-01 03:00:00,0.000,None,None,None,None,None,None,75
...,...,...,...,...,...,...,...,...,...
10196,2020-11-27 11:00:00,41.112,None,None,None,None,None,None,75
10197,2020-11-27 12:00:00,35.424,None,None,None,None,None,None,75
10198,2020-11-27 13:00:00,137.916,None,None,None,None,None,None,75
10199,2020-11-27 14:00:00,186.228,None,None,None,None,None,None,75
10200,2020-11-27 15:00:00,149.652,None,None,None,None,None,None,75

In [8]:
import pandas as pd
import numpy as np
import sqlalchemy
import geoalchemy2
import psycopg2

from pvlib.location import Location
from pvlib.solarposition import get_solarposition

from wolke.model.clearsky.solar_variable import IneichenLoader

from sunspot import dbinfo
from sunspot.feature.plants import get_engine, get_session, get_base, get_table

In [24]:
query = """
select datetime as dt, 
       hyield as trueYield, 
       mnt_id from hourly_yield 
       where (datetime between '2020-01-01' and '2020-12-31' ) and (mnt_id in (66, 67, 69 ) )
"""



conn = psycopg2.connect(dbinfo.PV_POWER)
true_yield = pd.read_sql_query(query, conn)
conn.close()

true_yield['day'] = true_yield['dt'].apply(lambda x: x.date())
true_yield = true_yield.rename(columns={'trueyield': 'trueYield'})
#true_yield.to_pickle(ddir + 'new_plant_total_true_yield.pkl')
#true_yield.to_pickle(ddir + 'winter_plant_total_true_yield2.pkl')

In [26]:
true_yield

                       dt  trueYield  mnt_id         day
0     2020-05-07 06:00:00   0.000000      67  2020-05-07
1     2020-05-07 07:00:00   0.000000      67  2020-05-07
2     2020-05-07 09:00:00        NaN      67  2020-05-07
3     2020-05-07 12:00:00   1.725150      67  2020-05-07
4     2020-05-07 13:00:00        NaN      67  2020-05-07
5     2020-05-07 14:00:00        NaN      67  2020-05-07
6     2020-05-07 15:00:00   2.370810      67  2020-05-07
7     2020-05-07 16:00:00   1.633680      67  2020-05-07
8     2020-05-07 17:00:00        NaN      67  2020-05-07
9     2020-05-07 05:00:00   0.000000      69  2020-05-07
10    2020-05-07 06:00:00   0.053686      69  2020-05-07
11    2020-05-07 07:00:00   0.201123      69  2020-05-07
12    2020-05-07 08:00:00   0.911470      69  2020-05-07
13    2020-05-07 09:00:00   1.805020      69  2020-05-07
14    2020-05-07 10:00:00        NaN      69  2020-05-07
15    2020-05-07 11:00:00        NaN      69  2020-05-07
16    2020-05-07 20:00:00   0.017325      69  2020-05-07
17    2020-05-07 05:00:00   0.000000      66  2020-05-07
18    2020-05-07 06:00:00   0.000000      66  2020-05-07
19    2020-05-07 18:00:00   0.948930      66  2020-05-07
20    2020-05-07 05:00:00   0.000000      67  2020-05-07
21    2020-05-07 07:00:00   0.109593      66  2020-05-07
22    2020-05-07 08:00:00        NaN      66  2020-05-07
23    2020-05-07 09:00:00   0.477232      66  2020-05-07
24    2020-05-07 10:00:00   1.252520      66  2020-05-07
25    2020-05-07 11:00:00        NaN      66  2020-05-07
26    2020-05-07 12:00:00        NaN      66  2020-05-07
27    2020-05-07 13:00:00   2.398770      66  2020-05-07
28    2020-05-07 14:00:00   1.915900      66  2020-05-07
29    2020-05-07 15:00:00        NaN      66  2020-05-07
...                   ...        ...     ...         ...
17346 2020-12-30 11:00:00   0.000000      67  2020-12-30
17347 2020-12-30 12:00:00   0.000000      67  2020-12-30
17348 2020-12-30 13:00:00   0.000000      67  2020-12-30
17349 2020-12-30 14:00:00   0.000000      67  2020-12-30
17350 2020-12-30 15:00:00   0.000000      67  2020-12-30
17351 2020-12-30 16:00:00   0.000000      67  2020-12-30
17352 2020-12-30 17:00:00   0.000000      67  2020-12-30
17353 2020-12-30 05:00:00   0.000000      69  2020-12-30
17354 2020-12-30 06:00:00   0.000000      69  2020-12-30
17355 2020-12-30 17:00:00   0.453889      66  2020-12-30
17356 2020-12-30 18:00:00   0.000000      66  2020-12-30
17357 2020-12-30 19:00:00   0.000000      66  2020-12-30
17358 2020-12-30 20:00:00   0.000000      66  2020-12-30
17359 2020-12-30 18:00:00   0.000000      67  2020-12-30
17360 2020-12-30 19:00:00   0.000000      67  2020-12-30
17361 2020-12-30 20:00:00   0.000000      67  2020-12-30
17362 2020-12-30 07:00:00   0.000000      69  2020-12-30
17363 2020-12-30 08:00:00   0.000000      69  2020-12-30
17364 2020-12-30 09:00:00   0.082796      69  2020-12-30
17365 2020-12-30 10:00:00   0.703966      69  2020-12-30
17366 2020-12-30 11:00:00   1.890960      69  2020-12-30
17367 2020-12-30 12:00:00   2.463770      69  2020-12-30
17368 2020-12-30 13:00:00   2.441650      69  2020-12-30
17369 2020-12-30 14:00:00   2.278680      69  2020-12-30
17370 2020-12-30 15:00:00   0.694631      69  2020-12-30
17371 2020-12-30 16:00:00   0.139211      69  2020-12-30
17372 2020-12-30 17:00:00   0.000000      69  2020-12-30
17373 2020-12-30 18:00:00   0.000000      69  2020-12-30
17374 2020-12-30 19:00:00   0.000000      69  2020-12-30
17375 2020-12-30 20:00:00   0.000000      69  2020-12-30

[17376 rows x 4 columns]

In [25]:
true_yield[true_yield.mnt_id==66]

                       dt  trueYield  mnt_id         day
17    2020-05-07 05:00:00   0.000000      66  2020-05-07
18    2020-05-07 06:00:00   0.000000      66  2020-05-07
19    2020-05-07 18:00:00   0.948930      66  2020-05-07
21    2020-05-07 07:00:00   0.109593      66  2020-05-07
22    2020-05-07 08:00:00        NaN      66  2020-05-07
23    2020-05-07 09:00:00   0.477232      66  2020-05-07
24    2020-05-07 10:00:00   1.252520      66  2020-05-07
25    2020-05-07 11:00:00        NaN      66  2020-05-07
26    2020-05-07 12:00:00        NaN      66  2020-05-07
27    2020-05-07 13:00:00   2.398770      66  2020-05-07
28    2020-05-07 14:00:00   1.915900      66  2020-05-07
29    2020-05-07 15:00:00        NaN      66  2020-05-07
30    2020-05-07 16:00:00        NaN      66  2020-05-07
31    2020-05-07 17:00:00   1.448460      66  2020-05-07
32    2020-05-07 19:00:00   0.269128      66  2020-05-07
33    2020-05-07 20:00:00   0.000000      66  2020-05-07
48    2020-05-08 05:00:00   0.000000      66  2020-05-08
49    2020-05-08 06:00:00   0.000000      66  2020-05-08
50    2020-05-08 07:00:00   0.000000      66  2020-05-08
51    2020-05-08 08:00:00        NaN      66  2020-05-08
52    2020-05-08 09:00:00   0.511283      66  2020-05-08
53    2020-05-08 10:00:00   1.252510      66  2020-05-08
54    2020-05-08 11:00:00        NaN      66  2020-05-08
55    2020-05-08 12:00:00        NaN      66  2020-05-08
56    2020-05-08 13:00:00   2.281520      66  2020-05-08
57    2020-05-08 14:00:00   1.961950      66  2020-05-08
58    2020-05-08 15:00:00        NaN      66  2020-05-08
59    2020-05-08 16:00:00        NaN      66  2020-05-08
60    2020-05-08 17:00:00   0.774284      66  2020-05-08
79    2020-05-08 18:00:00   0.188687      66  2020-05-08
...                   ...        ...     ...         ...
17282 2020-12-29 07:00:00   0.000000      66  2020-12-29
17283 2020-12-29 08:00:00   0.000000      66  2020-12-29
17284 2020-12-29 09:00:00   0.000000      66  2020-12-29
17285 2020-12-29 10:00:00   0.376320      66  2020-12-29
17286 2020-12-29 11:00:00   0.954883      66  2020-12-29
17287 2020-12-29 12:00:00   0.978321      66  2020-12-29
17288 2020-12-29 13:00:00   0.962749      66  2020-12-29
17289 2020-12-29 14:00:00   0.356657      66  2020-12-29
17290 2020-12-29 15:00:00   0.180088      66  2020-12-29
17291 2020-12-29 16:00:00   0.098328      66  2020-12-29
17292 2020-12-29 17:00:00   0.083090      66  2020-12-29
17318 2020-12-29 18:00:00   0.000000      66  2020-12-29
17319 2020-12-29 19:00:00   0.000000      66  2020-12-29
17320 2020-12-29 20:00:00   0.000000      66  2020-12-29
17328 2020-12-30 05:00:00   0.000000      66  2020-12-30
17329 2020-12-30 06:00:00   0.000000      66  2020-12-30
17330 2020-12-30 07:00:00   0.000000      66  2020-12-30
17331 2020-12-30 08:00:00   0.000000      66  2020-12-30
17332 2020-12-30 09:00:00   0.000000      66  2020-12-30
17333 2020-12-30 10:00:00   0.134903      66  2020-12-30
17334 2020-12-30 11:00:00   0.549892      66  2020-12-30
17335 2020-12-30 12:00:00   0.656214      66  2020-12-30
17336 2020-12-30 13:00:00   0.702401      66  2020-12-30
17337 2020-12-30 14:00:00   0.703394      66  2020-12-30
17338 2020-12-30 15:00:00   0.814956      66  2020-12-30
17339 2020-12-30 16:00:00   1.081440      66  2020-12-30
17355 2020-12-30 17:00:00   0.453889      66  2020-12-30
17356 2020-12-30 18:00:00   0.000000      66  2020-12-30
17357 2020-12-30 19:00:00   0.000000      66  2020-12-30
17358 2020-12-30 20:00:00   0.000000      66  2020-12-30

[5792 rows x 4 columns]